.footer {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 100px 44px 100px;
  font-family: "Poppins", sans-serif;
  color: #0f1f1c;
  font-style: normal;
}

.background-container-footer {
  border-radius: 0 0 90px 90px;
  background-color: #f6f6f6;
}

.logo-footer {
  font-size: 20px;
  padding-top: 10px;
  color: #ff7c4e;
  font-weight: 700;
}

footer nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 80px;
}

footer nav ul li {
  margin-left: 20px;
}

footer nav ul li a {
  color: rgba(15, 31, 28, 0.5);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.signup-footer {
  font-size: 15px;
  padding-top: 13px;
  color: rgba(15, 31, 28, 0.5);
  text-decoration: none;
  font-weight: 500;
}

.login-footer {
  display: flex;
  flex-direction: row;
  gap: 61px;
}

.btn-footer {
  font-size: 15px;
  border-radius: 100px;
  background: linear-gradient(to bottom right, #ff7b4e 0%, #ff584e 100%);
  color: white;
  font-weight: 500;
  width: 128px;
  height: 49px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
